.se-img-global {
    height: 60px;
    margin-bottom: 40px;
}

.se-img-medium {
    height: 32px;
    margin-bottom: 5px;
}

.se-img-small {
    height: 16px;
    margin-bottom: 7px;
}

.se-paper {
    background-color: rgb(57, 62, 59);
    border-radius: 5px;
    padding: 20px 30px;
}

.se-primary-button {
    background-color: #21c3a2;
    border-radius: 5px;
    color: #f5f5f5;
    display: inline-block;
    font-size: 14px;
    padding: 8px 25px;
    transition: 0.3s;
    font-weight: bold;
    border: none;
}

.se-primary-button:hover {
    background: #a9dbc8;
}

@media (max-width: 992px) {
    .se-primary-button {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }

  .leaflet-top, .leaflet-bottom {
      position: inherit !important;
  }